# Node.js
node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Uploads (opcional: se quiser ignorar comprovantes locais)
src/uploads/

# Editor configs
.vscode/
.idea/

# Arquivos temporários
*.swp
